# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# Backend
backend/.env
backend/venv/
backend/__pycache__/

# Archivos del enunciado (no son parte del entregable)
*.docx